header {
  background: #0c5a4c;
}

header h1 a {
  display: inline-block;
  width: 38px;
  height: 38px;
  background: url("./images/logo.png") no-repeat 50% 50% / cover;
  text-indent: -999999px;
  overflow: hidden;
  color: #fff;
  vertical-align: middle;
}

header div {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0.5em;
  min-width: 1024px;
  width: 1024px;
}

nav ul {
  display: flex;
  gap: 2em;
  margin-left: 3em;
}

nav ul li a {
  display: inline-block;
  padding: 1em;
  color: #fff;
}
