body {
  background: #0f7562;
  color: #fff;
}

main {
  display: flex;
  align-items: center;
  min-width: 1024px;
  height: calc(100vh - 4em);
  background: url(./images/wave.svg) no-repeat 50% 50% / cover;
}
